body {
  display: inline-block;
  font-family: 'Libre Franklin', sans-serif;
  background-image:url(./imgs/error.png);
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {

  margin: 10px 50px;
  font-size: 77px ;
  font-family: 'Libre Franklin', sans-serif;
  
}
p {
  margin: 10px 50px;
  font-size: 35px ;
  font-family: 'Libre Franklin', sans-serif;
}

.btn{
    margin: auto 45px;
    color: #fff ;
    text-transform: uppercase;
    text-decoration: none;
    background: #2c0363;
    padding: 20px;
    border-radius: 5px;
    width: 180px;
    height: 57px;
    display: inline;
    border: none;
    transition: all 0.4s ease 0s
}

.btn:hover{
    outline:none;
    flex: auto;
    color:black;
    background: #e6d2d2;
    letter-spacing: 1.5px;
    font-size: large;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}